:host {
  display: block;
  overflow: scroll;
  position: relative;
}

.page,
.page-column {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.4;
  white-space: pre-wrap;
}

.page {
  background: white;
  overflow: hidden;
}

.page-column {
  border: 1px solid blue;
  padding: 10px;
  float: left;
  text-align: justify;
}

.page-column.test {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
